<div class="daily-forecast">
  <mat-divider></mat-divider>
  {{ dailyForecast.Date | date }}
  <div class="forecast-details">
    <div class="temperature">
      <ng-container *ngIf="isMetric; else fahrenheitTemplate">
        <p>{{ fahrenheitToCelsius(dailyForecast.Temperature.Minimum.Value) }} - {{ fahrenheitToCelsius(dailyForecast.Temperature.Maximum.Value) }}C°</p>
      </ng-container>
      <ng-template #fahrenheitTemplate>
        <p>{{ dailyForecast.Temperature.Minimum.Value }} - {{ dailyForecast.Temperature.Maximum.Value }}{{ dailyForecast.Temperature.Maximum.Unit }}°</p>
      </ng-template>
    </div>
    <div class="icon">
      <p>{{ dailyForecast.Day.IconPhrase }}</p>
      <img [src]="getIconUrl(dailyForecast.Day.Icon)" alt="{{ dailyForecast.Day.IconPhrase }} icon"
        class="weather-icon">
    </div>
  </div>
</div>