<div class="search-container">
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Search for a city</mat-label>
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCitySelected($event)">
      <div *ngIf="!locations">
        <mat-option *ngFor="let location of favorites" [value]="location.LocalizedName">
          <div class="location-option">
            <button mat-icon-button class="favorite-button" (click)="toggleFavorite(location)">
              <mat-icon>{{ isFavorite(location.Key) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
            <span>{{ location.LocalizedName }}, {{ location.Country.LocalizedName }}</span>
          </div>
        </mat-option>
      </div>
      <mat-option *ngFor="let location of locations" [value]="location.LocalizedName">
        <div class="location-option">
          <button mat-icon-button class="favorite-button" (click)="toggleFavorite(location)">
            <mat-icon>{{ isFavorite(location.Key) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
          <span>{{ location.LocalizedName }}, {{ location.Country.LocalizedName }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>